<%- include('../dashboardLayouts/header') %>
<div class="card border-primary">
  <div class="card-header bg-light">
    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-circle-fill"></i></button>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-striped display " id="myTable">
      <thead>
        <tr>
          <th>No</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Opsi</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>samin</td>
          <td>samin@gmail.com</td>
          <td>Admin</td>
          <td>
            <a href="" class="badge bg-success rounded-pill"><i class="bi bi-pencil-square"></i> Edit</a>
            <a href="" class="badge bg-danger rounded-pill"><i class="bi bi-trash3"></i> Hapus</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%- include('../dashboardLayouts/footer') %>
<%- include('modalForm') %>