<!-- Modal -->
<div class="modal fade" id="modalFormAnggota" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/anggota" method="POST" enctype="multipart/form-data" id="formCreateUpdate">
            <input type="hidden" name="id" id="id">

            <label for="nama" class="form-label">Nama</label>
            <input type="text" class="form-control mb-3" id="nama" name="nama" required>
            
            <label for="alamat" class="form-label">Alamat</label>
            <textarea name="alamat" id="alamat" class="form-control mb-3"></textarea>

            <label for="whatsapp" class="form-label">Whatsapp</label>
            <input type="text" class="form-control mb-3" id="whatsapp" name="whatsapp" required>

            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control mb-3" id="email" name="email" required>

            <label for="jabatan" class="form-label">Jabatan</label>
            <input type="text" class="form-control mb-3" id="jabatan" name="jabatan" required>

            <label for="foto" class="form-label">Foto</label>
            <input type="file" class="form-control mb-3" id="foto" name="foto" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="btnUpdate">Save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
      </div>
  </div>
</div>