<!-- Modal -->
<div class="modal fade" id="modalKonfirmDelete" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalLabel">Confirm</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/anggota?_method=DELETE" method="POST">
            <input type="hidden" name="id" id="idDelete">
            <h3 class="text-center"></h3>
            <h1 class="text-center"><i class="bi bi-question-circle text-danger" style="font-size: 4.5rem;"></i></h1>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" id="btnUpdate">Yes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
      </div>
  </div>
</div>